<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/css.css" />
		<link rel="stylesheet" type="text/css" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="js/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="js/bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-resource/angular-resource.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers/actorController.js"></script>
		<script type="text/javascript" src="js/directives/actorDirectives.js"></script>
		<script type="text/javascript" src="js/services/themonkAPI.js"></script>
		<script type="text/javascript" src="js/services/themonkServices.js"></script>
	</head>
	<body ng-app="themonk">
		<h1>The Monk</h1>
		<div class="actor" ng-controller="ActorController">
			<form action="#" name="formActor">
				<tm-actor-stats></tm-actor-stats>
				<div class="rotation">
					<textarea class="rotation-area" ng-model="rotation"></textarea>
				</div>
				<div class="rotation-helper">
					<div class="rotation-globals"></div>
					<div class="rotation-skills">
						<tm-skill ng-repeat="skillInfo in skillInfos[model.name]" skill="model.skills[skillInfo.name]" skill-info="skillInfo" model="model" click="addSkill"></tm-skill>
					</div>
				</div>
			</form>
		</div>
		
		<div class="report">
		</div>
		
		<script type="text/javascript" src="js/themonk.js"></script>
	</body>
</html>