<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/css.css" />
		<script type="text/javascript" src="js/angular.min.js"></script>
	</head>
	<body ng-app="themonk">
		<div class="actor" ng-controller="ActorController as actor">
			<form action="#" name="formActor">
				<tm-actor-stats></tm-actor-stats>
				<div class="rotation">
					<textarea class="rotation-area" ng-model="actor.rotation"></textarea>
				</div>
				<div class="rotation-helper">
					<div class="rotation-globals"></div>
					<div class="rotation-skills">
						<tm-skill ng-repeat="skill in actor.model.skills"></tm-skill>
					</div>
				</div>
			</form>
		</div>
		
		<div class="report">
		</div>
		
		<script type="text/javascript" src="js/themonk.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>