<div class="rotation-helper">
	<div class="rotation-globals" ng-cloak>
		<fieldset>
			<legend>vars</legend>
			<button ng-repeat="(name, infos) in rotationHelper.vars" tooltip-template="'templates/rotation-helper-tooltip.html'" tooltip-placement="left" ng-click="addVar(name, $event)">{{name}}</button>
		</fieldset>
		<fieldset>
			<legend>functions</legend>
			<button ng-repeat="(name, infos) in rotationHelper.fn" tooltip-template="'templates/rotation-helper-tooltip.html'" tooltip-placement="left" ng-click="addFn(name, infos.args, $event)">{{name}}</button>
		</fieldset>
	</div>
	<div class="rotation-skills">
		<fieldset>
			<legend>skills</legend>
			<div>
				<tm-skill ng-repeat="skillInfo in skillInfos[model.name]"></tm-skill>
			<div>
		</fieldset>
	</div>
</div>